.DS_Store
.idea/
sportsdataprovider/node_modules/
sportsdataprovider/documentation-output/
sportsdataviewer/node_modules/
soccersimulator/node_modules/
soccersimulator/simulationfiles/**/*
soccersimulator/log/**/*
soccersimulator/_session_store.json
sportsdataviewer/log/**/*
sportsdataviewer/_session_store.json
sportsdataprovider/JSON/**/*
sportsdataprovider/FTP/**/*
sportsdataprovider/logs/**/*
sportsdataprovider/scribble.js
sportsdataprovider/Config.js
sportsdataprovider/aggregate_data/**/*
projectFilesBackup/**/*
sportsdataviewer/data/**/*
sportsdataprovider/logs/
sportsdataprovider/Config.js
sportsdataviewer/config/