.DS_Store
soccersimulator/simulationfiles/**/*
soccersimulator/log/**/*
soccersimulator/_session_store.json
sportsdataviewer/log/**/*
sportsdataviewer/_session_store.json
sportsdataprovider/JSON/**/*
sportsdataprovider/FTP/**/*
sportsdataprovider/logs/**/*
sportsdataprovider/scribble.js
sportsdataprovider/logs/**/*
sportsdataprovider/Config.js
sportsdataprovider/aggregate_data/**/*
sportsdataprovider/node_modules/.bin/_mocha
sportsdataprovider/node_modules/.bin/mocha
sportsdataprovider/node_modules/mocha/index.js
sportsdataprovider/node_modules/mocha/LICENSE
sportsdataprovider/node_modules/mocha/mocha.css
sportsdataprovider/node_modules/mocha/mocha.js
sportsdataprovider/node_modules/mocha/package.json
sportsdataprovider/node_modules/mocha/Readme.md
sportsdataprovider/node_modules/mocha/bin/_mocha
sportsdataprovider/node_modules/mocha/bin/mocha
sportsdataprovider/node_modules/mocha/images/error.png
sportsdataprovider/node_modules/mocha/images/ok.png
sportsdataprovider/node_modules/mocha/lib/context.js
sportsdataprovider/node_modules/mocha/lib/hook.js
sportsdataprovider/node_modules/mocha/lib/mocha.js
sportsdataprovider/node_modules/mocha/lib/ms.js
sportsdataprovider/node_modules/mocha/lib/runnable.js
sportsdataprovider/node_modules/mocha/lib/runner.js
sportsdataprovider/node_modules/mocha/lib/suite.js
sportsdataprovider/node_modules/mocha/lib/template.html
sportsdataprovider/node_modules/mocha/lib/test.js
sportsdataprovider/node_modules/mocha/lib/utils.js
sportsdataprovider/node_modules/mocha/lib/browser/debug.js
sportsdataprovider/node_modules/mocha/lib/browser/diff.js
sportsdataprovider/node_modules/mocha/lib/browser/events.js
sportsdataprovider/node_modules/mocha/lib/browser/fs.js
sportsdataprovider/node_modules/mocha/lib/browser/path.js
sportsdataprovider/node_modules/mocha/lib/browser/progress.js
sportsdataprovider/node_modules/mocha/lib/browser/tty.js
sportsdataprovider/node_modules/mocha/lib/interfaces/bdd.js
sportsdataprovider/node_modules/mocha/lib/interfaces/exports.js
sportsdataprovider/node_modules/mocha/lib/interfaces/index.js
sportsdataprovider/node_modules/mocha/lib/interfaces/qunit.js
sportsdataprovider/node_modules/mocha/lib/interfaces/tdd.js
sportsdataprovider/node_modules/mocha/lib/reporters/base.js
sportsdataprovider/node_modules/mocha/lib/reporters/doc.js
sportsdataprovider/node_modules/mocha/lib/reporters/dot.js
sportsdataprovider/node_modules/mocha/lib/reporters/html-cov.js
sportsdataprovider/node_modules/mocha/lib/reporters/html.js
sportsdataprovider/node_modules/mocha/lib/reporters/index.js
sportsdataprovider/node_modules/mocha/lib/reporters/json-cov.js
sportsdataprovider/node_modules/mocha/lib/reporters/json-stream.js
sportsdataprovider/node_modules/mocha/lib/reporters/json.js
sportsdataprovider/node_modules/mocha/lib/reporters/landing.js
sportsdataprovider/node_modules/mocha/lib/reporters/list.js
sportsdataprovider/node_modules/mocha/lib/reporters/markdown.js
sportsdataprovider/node_modules/mocha/lib/reporters/min.js
sportsdataprovider/node_modules/mocha/lib/reporters/nyan.js
sportsdataprovider/node_modules/mocha/lib/reporters/progress.js
sportsdataprovider/node_modules/mocha/lib/reporters/spec.js
sportsdataprovider/node_modules/mocha/lib/reporters/tap.js
sportsdataprovider/node_modules/mocha/lib/reporters/xunit.js
sportsdataprovider/node_modules/mocha/lib/reporters/templates/coverage.jade
sportsdataprovider/node_modules/mocha/lib/reporters/templates/menu.jade
sportsdataprovider/node_modules/mocha/lib/reporters/templates/script.html
sportsdataprovider/node_modules/mocha/lib/reporters/templates/style.html
sportsdataprovider/node_modules/mocha/node_modules/.bin/jade
sportsdataprovider/node_modules/mocha/node_modules/commander/History.md
sportsdataprovider/node_modules/mocha/node_modules/commander/index.js
sportsdataprovider/node_modules/mocha/node_modules/commander/package.json
sportsdataprovider/node_modules/mocha/node_modules/commander/Readme.md
sportsdataprovider/node_modules/mocha/node_modules/debug/.jshintrc
sportsdataprovider/node_modules/mocha/node_modules/debug/.npmignore
sportsdataprovider/node_modules/mocha/node_modules/debug/browser.js
sportsdataprovider/node_modules/mocha/node_modules/debug/component.json
sportsdataprovider/node_modules/mocha/node_modules/debug/debug.js
sportsdataprovider/node_modules/mocha/node_modules/debug/History.md
sportsdataprovider/node_modules/mocha/node_modules/debug/Makefile
sportsdataprovider/node_modules/mocha/node_modules/debug/node.js
sportsdataprovider/node_modules/mocha/node_modules/debug/package.json
sportsdataprovider/node_modules/mocha/node_modules/debug/Readme.md
sportsdataprovider/node_modules/mocha/node_modules/debug/node_modules/ms/.npmignore
sportsdataprovider/node_modules/mocha/node_modules/debug/node_modules/ms/index.js
sportsdataprovider/node_modules/mocha/node_modules/debug/node_modules/ms/package.json
sportsdataprovider/node_modules/mocha/node_modules/debug/node_modules/ms/README.md
sportsdataprovider/node_modules/mocha/node_modules/diff/diff.js
sportsdataprovider/node_modules/mocha/node_modules/diff/package.json
sportsdataprovider/node_modules/mocha/node_modules/diff/README.md
sportsdataprovider/node_modules/mocha/node_modules/glob/.npmignore
sportsdataprovider/node_modules/mocha/node_modules/glob/.travis.yml
sportsdataprovider/node_modules/mocha/node_modules/glob/glob.js
sportsdataprovider/node_modules/mocha/node_modules/glob/LICENSE
sportsdataprovider/node_modules/mocha/node_modules/glob/package.json
sportsdataprovider/node_modules/mocha/node_modules/glob/README.md
sportsdataprovider/node_modules/mocha/node_modules/glob/examples/g.js
sportsdataprovider/node_modules/mocha/node_modules/glob/examples/usr-local.js
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/graceful-fs/.npmignore
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/graceful-fs/graceful-fs.js
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/graceful-fs/LICENSE
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/graceful-fs/package.json
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/graceful-fs/polyfills.js
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/graceful-fs/README.md
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/graceful-fs/test/open.js
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/graceful-fs/test/readdir-sort.js
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/inherits/inherits.js
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/inherits/inherits_browser.js
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/inherits/LICENSE
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/inherits/package.json
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/inherits/README.md
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/inherits/test.js
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/.npmignore
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/LICENSE
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/minimatch.js
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/package.json
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/README.md
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/node_modules/lru-cache/.npmignore
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/node_modules/lru-cache/CONTRIBUTORS
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/node_modules/lru-cache/LICENSE
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/node_modules/lru-cache/package.json
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/node_modules/lru-cache/README.md
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/node_modules/lru-cache/lib/lru-cache.js
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/node_modules/lru-cache/test/basic.js
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/node_modules/lru-cache/test/foreach.js
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/node_modules/lru-cache/test/memory-leak.js
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/node_modules/sigmund/bench.js
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/node_modules/sigmund/LICENSE
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/node_modules/sigmund/package.json
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/node_modules/sigmund/README.md
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/node_modules/sigmund/sigmund.js
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/node_modules/sigmund/test/basic.js
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/test/basic.js
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/test/brace-expand.js
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/test/caching.js
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/test/defaults.js
sportsdataprovider/node_modules/mocha/node_modules/glob/node_modules/minimatch/test/extglob-ending-with-state-char.js
sportsdataprovider/node_modules/mocha/node_modules/glob/test/00-setup.js
sportsdataprovider/node_modules/mocha/node_modules/glob/test/bash-comparison.js
sportsdataprovider/node_modules/mocha/node_modules/glob/test/bash-results.json
sportsdataprovider/node_modules/mocha/node_modules/glob/test/cwd-test.js
sportsdataprovider/node_modules/mocha/node_modules/glob/test/globstar-match.js
sportsdataprovider/node_modules/mocha/node_modules/glob/test/mark.js
sportsdataprovider/node_modules/mocha/node_modules/glob/test/nocase-nomagic.js
sportsdataprovider/node_modules/mocha/node_modules/glob/test/pause-resume.js
sportsdataprovider/node_modules/mocha/node_modules/glob/test/root-nomount.js
sportsdataprovider/node_modules/mocha/node_modules/glob/test/root.js
sportsdataprovider/node_modules/mocha/node_modules/glob/test/stat.js
sportsdataprovider/node_modules/mocha/node_modules/glob/test/zz-cleanup.js
sportsdataprovider/node_modules/mocha/node_modules/growl/History.md
sportsdataprovider/node_modules/mocha/node_modules/growl/package.json
sportsdataprovider/node_modules/mocha/node_modules/growl/Readme.md
sportsdataprovider/node_modules/mocha/node_modules/growl/test.js
sportsdataprovider/node_modules/mocha/node_modules/growl/lib/growl.js
sportsdataprovider/node_modules/mocha/node_modules/jade/.npmignore
sportsdataprovider/node_modules/mocha/node_modules/jade/index.js
sportsdataprovider/node_modules/mocha/node_modules/jade/jade.js
sportsdataprovider/node_modules/mocha/node_modules/jade/jade.md
sportsdataprovider/node_modules/mocha/node_modules/jade/jade.min.js
sportsdataprovider/node_modules/mocha/node_modules/jade/LICENSE
sportsdataprovider/node_modules/mocha/node_modules/jade/package.json
sportsdataprovider/node_modules/mocha/node_modules/jade/runtime.js
sportsdataprovider/node_modules/mocha/node_modules/jade/runtime.min.js
sportsdataprovider/node_modules/mocha/node_modules/jade/test.jade
sportsdataprovider/node_modules/mocha/node_modules/jade/bin/jade
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/compiler.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/doctypes.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/filters.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/inline-tags.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/jade.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/lexer.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/parser.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/runtime.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/self-closing.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/utils.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/nodes/attrs.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/nodes/block-comment.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/nodes/block.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/nodes/case.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/nodes/code.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/nodes/comment.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/nodes/doctype.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/nodes/each.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/nodes/filter.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/nodes/index.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/nodes/literal.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/nodes/mixin.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/nodes/node.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/nodes/tag.js
sportsdataprovider/node_modules/mocha/node_modules/jade/lib/nodes/text.js
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/commander/.npmignore
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/commander/.travis.yml
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/commander/History.md
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/commander/index.js
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/commander/Makefile
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/commander/package.json
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/commander/Readme.md
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/commander/lib/commander.js
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/mkdirp/.gitignore.orig
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/mkdirp/.gitignore.rej
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/mkdirp/.npmignore
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/mkdirp/index.js
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/mkdirp/LICENSE
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/mkdirp/package.json
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/mkdirp/README.markdown
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/mkdirp/examples/pow.js
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/mkdirp/examples/pow.js.orig
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/mkdirp/examples/pow.js.rej
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/mkdirp/test/chmod.js
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/mkdirp/test/clobber.js
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/mkdirp/test/mkdirp.js
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/mkdirp/test/perm.js
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/mkdirp/test/perm_sync.js
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/mkdirp/test/race.js
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/mkdirp/test/rel.js
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/mkdirp/test/sync.js
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/mkdirp/test/umask.js
sportsdataprovider/node_modules/mocha/node_modules/jade/node_modules/mkdirp/test/umask_sync.js
sportsdataprovider/node_modules/mocha/node_modules/jade/testing/head.jade
sportsdataprovider/node_modules/mocha/node_modules/jade/testing/index.jade
sportsdataprovider/node_modules/mocha/node_modules/jade/testing/index.js
sportsdataprovider/node_modules/mocha/node_modules/jade/testing/layout.jade
sportsdataprovider/node_modules/mocha/node_modules/jade/testing/user.jade
sportsdataprovider/node_modules/mocha/node_modules/jade/testing/user.js
sportsdataprovider/node_modules/mocha/node_modules/mkdirp/.npmignore
sportsdataprovider/node_modules/mocha/node_modules/mkdirp/.travis.yml
sportsdataprovider/node_modules/mocha/node_modules/mkdirp/index.js
sportsdataprovider/node_modules/mocha/node_modules/mkdirp/LICENSE
sportsdataprovider/node_modules/mocha/node_modules/mkdirp/package.json
sportsdataprovider/node_modules/mocha/node_modules/mkdirp/readme.markdown
sportsdataprovider/node_modules/mocha/node_modules/mkdirp/examples/pow.js
sportsdataprovider/node_modules/mocha/node_modules/mkdirp/test/chmod.js
sportsdataprovider/node_modules/mocha/node_modules/mkdirp/test/clobber.js
sportsdataprovider/node_modules/mocha/node_modules/mkdirp/test/mkdirp.js
sportsdataprovider/node_modules/mocha/node_modules/mkdirp/test/perm.js
sportsdataprovider/node_modules/mocha/node_modules/mkdirp/test/perm_sync.js
sportsdataprovider/node_modules/mocha/node_modules/mkdirp/test/race.js
sportsdataprovider/node_modules/mocha/node_modules/mkdirp/test/rel.js
sportsdataprovider/node_modules/mocha/node_modules/mkdirp/test/return.js
sportsdataprovider/node_modules/mocha/node_modules/mkdirp/test/return_sync.js
sportsdataprovider/node_modules/mocha/node_modules/mkdirp/test/root.js
sportsdataprovider/node_modules/mocha/node_modules/mkdirp/test/sync.js
sportsdataprovider/node_modules/mocha/node_modules/mkdirp/test/umask.js
sportsdataprovider/node_modules/mocha/node_modules/mkdirp/test/umask_sync.js
