<% 
/* ****************************************************************************
File:			application.html.ejs

Purpose:		I am the main layout of the application.

Author: 		Johh Allen (Fig Leaf Software) jallen@figleaf.com
**************************************************************************** */
%><%= partial('layout_header'); %>
<body>
<%- render(); %>
</body>
<%= partial('layout_footer'); %>