<div class="hero-unit geddy-welcome-box">
	<h1>Soccer Simulation!</h1>
	<p>Lets Simulate</p>
	<p>
  	<%- linkTo(
  			'Simulate »', 
  			{controller: 'matches', action: 'index'}, 
  			{class: 'btn btn-primary btn-large'}
  		) 
  	%>
	</p>
</div>
